In [9]:
import pickle
import pandas as pd
from pandas import Series
import project_utils as pu

In [10]:
tdf = pd.read_csv('npf_train.csv')
tdf = tdf.drop(columns=['date', 'id', 'partlybad'])

In [11]:
gases = ['CO2', 'NO', 'NOx', 'O3', 'H2O', 'SO2', 'CO', 'RHIRGA', 'T' ]
units = {'CO2': 'ppm', 'NO':'ppb', 'NOx': 'ppb', 'O3': 'ppb', 'H2O': 'ppt', 'SO2': 'ppb', 'CO': 'ppb', 'RHIRGA': 'ppm', 'T': 'ppm'}

gasdict = {}

def gasregex_mean(g):
    return  f'{g}\d+\.mean'

def gasregex_std(g):
    return  f'{g}\d+\.std'

def convert_ppm(g):
    unit =  units[g.name.split('_')[0]]
    print(g.name)
    print(g)
    print(unit)
    if unit == 'ppm':
        return g
    elif unit == 'ppt':
        return g * 1000
    elif unit == 'ppb':
        return g / 1000
    else:
        raise ValueError(f'invalid unit {unit}')

In [12]:
for g in gases:
    gasdict[f'{g}_mean'] = tdf.filter(regex=gasregex_mean(g), axis=1).mean(axis=1)
    gasdict[f'{g}_std'] = tdf.filter(regex=gasregex_std(g), axis=1).mean(axis=1)

In [13]:
gmdf = pd.DataFrame(gasdict)
gmdf.head()

,CO2_mean,CO2_std,NO_mean,NO_std,NOx_mean,NOx_std,O3_mean,O3_std,H2O_mean,H2O_std,SO2_mean,SO2_std,CO_mean,CO_std,RHIRGA_mean,RHIRGA_std,T_mean,T_std
0,384.446556,2.146738,0.073322,0.064069,2.093609,0.664589,14.966700,1.535456,2.281783,0.054792,1.070769,0.191942,384.446556,2.146738,98.463653,1.321516,-12.622347,0.417980
1,374.970848,0.475391,0.110540,0.139199,2.738417,0.838653,21.299016,1.282524,3.121738,0.118468,0.196795,0.107262,374.970848,0.475391,94.935309,1.235086,-8.561354,0.503770
2,373.528930,0.190766,0.018112,0.030437,0.753805,0.098730,26.185827,0.290615,2.742961,0.240767,0.158171,0.122969,373.528930,0.190766,93.466942,0.754835,-9.841784,1.145191
3,378.792003,2.182292,0.208108,0.214519,3.089649,1.173227,15.185163,3.873187,5.720093,0.073496,0.212569,0.116527,378.792003,2.182292,99.095004,1.127916,-1.060875,0.128686
4,373.180129,1.101932,0.026801,0.051963,0.851768,0.243149,34.692562,2.187837,3.251398,0.302349,0.138289,0.115293,373.180129,1.101932,60.316233,14.697940,-1.459597,1.942539

In [14]:
gmdf = gmdf.apply(convert_ppm, axis=0)
gmdf.head()

CO2_mean
0      384.446556
1      374.970848
2      373.528930
3      378.792003
4      373.180129
          ...
453    378.245723
454    381.505322
455    388.072498
456    379.768501
457    384.844951
Name: CO2_mean, Length: 458, dtype: float64
ppm
CO2_std
0       2.146738
1       0.475391
2       0.190766
3       2.182292
4       1.101932
         ...
453     6.503639
454     4.344077
455    12.560814
456    12.138900
457     6.340952
Name: CO2_std, Length: 458, dtype: float64
ppm
NO_mean
0      0.073322
1      0.110540
2      0.018112
3      0.208108
4      0.026801
         ...
453    0.028670
454    0.025030
455    0.025580
456    0.044956
457    0.048885
Name: NO_mean, Length: 458, dtype: float64
ppb
NO_std
0      0.064069
1      0.139199
2      0.030437
3      0.214519
4      0.051963
         ...
453    0.045582
454    0.043191
455    0.090245
456    0.052617
457    0.051311
Name: NO_std, Length: 458, dtype: float64
ppb
NOx_mean
0      2.093609
1      2.738417
2      0.753805
3      3.089649
4      0.851768
         ...
453    0.149077
454    0.279472
455    0.283489
456    0.322067
457    0.741535
Name: NOx_mean, Length: 458, dtype: float64
ppb
NOx_std
0      0.664589
1      0.838653
2      0.098730
3      1.173227
4      0.243149
         ...
453    0.177016
454    0.168602
455    0.278359
456    0.287817
457    0.397117
Name: NOx_std, Length: 458, dtype: float64
ppb
O3_mean
0      14.966700
1      21.299016
2      26.185827
3      15.185163
4      34.692562
         ...
453    20.804481
454    18.307592
455    18.706179
456    15.684874
457    22.262618
Name: O3_mean, Length: 458, dtype: float64
ppb
O3_std
0      1.535456
1      1.282524
2      0.290615
3      3.873187
4      2.187837
         ...
453    4.096258
454    4.744004
455    4.759435
456    4.798165
457    3.373433
Name: O3_std, Length: 458, dtype: float64
ppb
H2O_mean
0       2.281783
1       3.121738
2       2.742961
3       5.720093
4       3.251398
         ...
453    10.712327
454    15.104184
455    12.779368
456    13.100108
457    13.589773
Name: H2O_mean, Length: 458, dtype: float64
ppt
H2O_std
0      0.054792
1      0.118468
2      0.240767
3      0.073496
4      0.302349
         ...
453    0.819028
454    0.262204
455    0.750177
456    0.540569
457    0.469209
Name: H2O_std, Length: 458, dtype: float64
ppt
SO2_mean
0      1.070769
1      0.196795
2      0.158171
3      0.212569
4      0.138289
         ...
453    0.081824
454    0.163403
455    0.179141
456    0.077373
457    0.234548
Name: SO2_mean, Length: 458, dtype: float64
ppb
SO2_std
0      0.191942
1      0.107262
2      0.122969
3      0.116527
4      0.115293
         ...
453    0.105363
454    0.103985
455    0.110031
456    0.100453
457    0.236403
Name: SO2_std, Length: 458, dtype: float64
ppb
CO_mean
0      384.446556
1      374.970848
2      373.528930
3      378.792003
4      373.180129
          ...
453    378.245723
454    381.505322
455    388.072498
456    379.768501
457    384.844951
Name: CO_mean, Length: 458, dtype: float64
ppb
CO_std
0       2.146738
1       0.475391
2       0.190766
3       2.182292
4       1.101932
         ...
453     6.503639
454     4.344077
455    12.560814
456    12.138900
457     6.340952
Name: CO_std, Length: 458, dtype: float64
ppb
RHIRGA_mean
0      98.463653
1      94.935309
2      93.466942
3      99.095004
4      60.316233
         ...
453    56.747381
454    78.567805
455    81.120000
456    77.767217
457    76.652680
Name: RHIRGA_mean, Length: 458, dtype: float64
ppm
RHIRGA_std
0       1.321516
1       1.235086
2       0.754835
3       1.127916
4      14.697940
         ...
453     8.192064
454     5.659387
455     6.362018
456     6.139795
457     6.891678
Name: RHIRGA_std, Length: 458, dtype: float64
ppm
T_mean
0     -12.622347
1      -8.561354
2      -9.841784
3      -1.060875
4      -1.459597
         ...
453    16.828524
454    16.918999
455    13.676657
456    14.852279
457    15.674104
Name: T_mean, Length: 458, dtype: float64
ppm
T_std
0      0.417980
1      0.503770
2      1.145191
3      0.128686
4      1.942539
         ...
453    2.553536
454    1.212346
455    0.655849
456    1.728650
457    1.090693
Name: T_std, Length: 458, dtype: float64
ppm

,CO2_mean,CO2_std,NO_mean,NO_std,NOx_mean,NOx_std,O3_mean,O3_std,H2O_mean,H2O_std,SO2_mean,SO2_std,CO_mean,CO_std,RHIRGA_mean,RHIRGA_std,T_mean,T_std
0,384.446556,2.146738,0.000073,0.000064,0.002094,0.000665,0.014967,0.001535,2281.783253,54.791819,0.001071,0.000192,0.384447,0.002147,98.463653,1.321516,-12.622347,0.417980
1,374.970848,0.475391,0.000111,0.000139,0.002738,0.000839,0.021299,0.001283,3121.738072,118.468082,0.000197,0.000107,0.374971,0.000475,94.935309,1.235086,-8.561354,0.503770
2,373.528930,0.190766,0.000018,0.000030,0.000754,0.000099,0.026186,0.000291,2742.961206,240.766575,0.000158,0.000123,0.373529,0.000191,93.466942,0.754835,-9.841784,1.145191
3,378.792003,2.182292,0.000208,0.000215,0.003090,0.001173,0.015185,0.003873,5720.093244,73.495770,0.000213,0.000117,0.378792,0.002182,99.095004,1.127916,-1.060875,0.128686
4,373.180129,1.101932,0.000027,0.000052,0.000852,0.000243,0.034693,0.002188,3251.398349,302.348912,0.000138,0.000115,0.373180,0.001102,60.316233,14.697940,-1.459597,1.942539

In [15]:
pickle.dump(gmdf, open('gases_agg_dataframe.bin', 'wb'))